* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 10px;
}

/* .mySlides image {
  width: 800px;
  height: 520px;
} */

.icon-left a:hover {
  color: rgb(13, 13, 13);
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  opacity: 1;
}
.icon-right a:hover {
  color: #080808;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  opacity: 1;
}

a {
  background-color: transparent;
  padding-right: 50px;
  padding-left: 50px;
  font: size 60px;
  cursor: pointer;
  opacity: 0;
}

.icon-left a {
  color: white;
}
.icon-right a {
  color: white;
}
